.job-details {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .company-name {
    color: #666;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .description {
    color: #444;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .details {
    color: #555;
  }
  
  .details p {
    margin-bottom: 5px;
  }
  