.yellow-button,
.blue-button,
.red-button,
.large-button {
  line-height: 1;
  padding-top: 8px;
  padding-bottom: 8px;
}

.yellow-button {
  background-color: #ffd700 !important;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.yellow-button:hover {
  background-color: #ffc107 !important;
  color: white !important;
}

.blue-button {
  background-color: #2196f3 !important;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.blue-button:hover {
  background-color: #0b7dda !important;
  color: white !important;
}

.red-button {
  background-color: #f44336 !important;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.red-button:hover {
  background-color: #d32f2f !important;
  color: white !important;
}

.large-button {
  padding: 8px 15px;
  font-size: 18px;
}
