.yellowButton,
.blueButton,
.redButton,
.large-button {
  line-height: 1;
  padding-top: 8px;
  padding-bottom: 8px;
}

.yellowButton {
  background-color: #ffd700 !important;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.yellowButton:hover {
  background-color: #ffc107 !important;
  color: white !important;
}

.blueButton {
  background-color: #2196f3 !important;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.blueButton:hover {
  background-color: #0b7dda !important;
  color: white !important;
}

.redButton {
  background-color: #f44336 !important;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.redButton:hover {
  background-color: #d32f2f !important;
  color: white !important;
}

.large-button {
  padding: 8px 15px;
  font-size: 18px;
}
