.tag-large {
  font-size: 17px; /* Adjust the font size as needed */
  padding: 8px 12px; /* Adjust the padding as needed */
  border-radius: 4px; /* Adjust the border radius as needed */
}

.tag-medium {
  font-size: 14px; /* Adjust the font size as needed */
  padding: 5px 9px; /* Adjust the padding as needed */
  border-radius: 4px; /* Adjust the border radius as needed */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulsate {
  animation: pulse 1s infinite;
}
