/* In your CSS file */
.employer-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Increased margin */
  }
  
  .employer-info {
    display: flex;
    flex-direction: column;
  }
  
  .employer-info > * {
    margin-bottom: 10px; /* Increased margin between items */
  }
  

  .editButton {
    background-color: #FFD700 !important; /* Set the background color to a nice yellow */
    color: white; /* Set the text color */
    border: none; /* Remove the border */
    cursor: pointer; /* Add cursor style */
    border-radius: 4px; /* Add border radius */
  }
  
  .editButton:hover {
    background-color: #FFC107 !important; /* Change background color to a darker shade of yellow on hover */
    color: white !important; /* Set the text color on hover */
  }

  .updateButton {
    background-color: #2196F3 !important; /* Set the background color to a nice blue */
    color: white; /* Set the text color to white */
    border: none; /* Remove the border */
    cursor: pointer; /* Add cursor style */
    border-radius: 4px; /* Add border radius */
  }
  
  .updateButton:hover {
    background-color: #0b7dda !important; /* Change background color to a darker shade of blue on hover */
    color: white !important; /* Set the text color on hover */
  }

  .cancelButton {
    background-color: #e25046 !important; /* Set the background color to a nice red */
    color: white; /* Set the text color to white */
    border: none; /* Remove the border */
    cursor: pointer; /* Add cursor style */
    border-radius: 4px; /* Add border radius */
  }
  
  .cancelButton:hover {
    background-color: #d32f2f !important; /* Change background color to a darker shade of red on hover */
    color: white !important; /* Set the text color on hover */
  }