.job-seeker-layout {
    display: flex;
    height: 100vh;
}

.content {
    transition: margin-left .5s;
    margin-left: 120px;
    width: calc(100% -120px);
    overflow: auto;
}

.content.collapsed {
    margin-left: 0;
    width: 100%;
} 